.header-Section {
  width: 100%;
}

.welcome-Section {
  width: 100%;
}

.services-Section {
  width: 100%;
}

.statBar-Section {
  width: 100%;
}

.testimonials-Section {
  width: 100%;
}

.latestNews-Section {
  width: 100;
}
