.statBar-Container {
  width: 100%;
  margin-top: 10%;
}

.countries-Covered {
  width: 20%;
  height: 100px;
  margin-left: 30%;
  margin-top: -120px;
}
.tons-of-goods {
  width: 20%;

  height: 100px;
  margin-left: 50%;
  margin-top: -120px;
}

.satisfied-Clients {
  width: 20%;

  height: 100px;
  margin-left: 70%;
  margin-top: -120px;
}
.delivered-Packages {
  width: 20%;

  height: 100px;
  margin-left: 10%;
}

.num-Section {
  width: 50%;

  height: 50px;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #022551;
  position: relative;
}

.num-Section::before {
  content: attr(data-number);
  position: absolute;
  top: -30px;
  left: 50px;
  font-size: 80px;
  z-index: -1;
  filter: blur(1px);
  -webkit-text-stroke: 0.5px black;

  color: white;
}

.text-Section {
  width: 50%;

  margin-left: 50%;
  margin-top: -50px;
  height: 50px;
  font-weight: bold;
  color: #022551;
  font-size: 19px;
  text-shadow: 2px 2px 4px rgba(1, 0, 0, 0.561);
}
